@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #20124d;
  color: #ffff00;
  padding: 5px;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

.Ellie-May {
  max-width: 100px;
  height: auto;
  padding: 25px;
}

.main-grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  text-align: center;
}

.section {
  padding: 10px;
  border: 1px solid #20124d;
  border-radius: 8px;
  background-color: #ffff00;
}

.footer-section {
  grid-column: 1 / -1;
  padding: 10px;
  background-color: #20124d;
  color: #ffff00;
  border-radius: 8px;
  text-align: center;
}

.button-link {
  text-decoration: none;
  text-align: center;
  background-color: #20124d;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
  padding: 5px;
}

.button-link:hover {
  background-color: navy;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-family: "Finger Paint", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #20124d;
}

@media (min-width: 768px) {

  .question-section, .lore-section {
    display: block;
    gap: 10px;
  }

  .option1-section, .option2-section {
    display: block;
    gap: 10px;
  }

  h2 {
    grid-column: 1 / 3;
  }
}